html, body {
height: 100%; 
}

body {
	background: #e1e5e8;
}

p {
font-family: 'calibri';
font-size: 16px;
color: #00000;
line-height: 18px;
margin-bottom: 20px;
}
blockquote{
font-family: 'calibri';
font-size: 15px;
color: #00000;
line-height: 18px;
margin-bottom: 20px;
}
a { 
color: #2874A6; 
text-decoration: underline; 
cursor: pointer; 
}
a:hover { 
text-decoration: none; 
}


#footer { 
    display: block;
}